block const
  - metas = {}
  - metas.title = '株式会社ALCHEMY'
  - metas.url = 'https://alchemy-lab.jp/'
  - metas.image = 'https://alchemy-lab.jp/images/ogp.jpg'
  - metas.description = '株式会社ALCHEMYは2017年10月に設立しました。『永久不滅のサービスは存在しないが、テクノロジーに対するニーズは尽きることがない』をモットーに100人のクリエイター集団を目指しています。ご興味を持っていただけた方は、気軽にお問い合わせください。'

head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(property="og:title" content=metas.title)
  meta(property="og:type" content="Website")
  meta(property="og:url" content=metas.url)
  meta(property="og:image" content=metas.image)
  meta(property="og:site_name" content=metas.title)
  meta(property="og:description" content=metas.description)
  meta(property="og:locale" content="ja_JP")
  meta(name="description" content=metas.description)
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title #{title}
  link(rel="canonical" href=metas.url)
  link(rel="stylesheet" href="css/reset.css")
  link(rel="stylesheet" href="css/style.css")
  link(rel="stylesheet" href="css/animation.css")
  link(href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet")
  // Google Analytics
  script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-150750380-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-150750380-1');